#root {
  margin: 16px;
  background-color: #1b436b;
  color: #ecf0f1;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #1b436b;
  color: #ecf0f1;
  border-color: #385b7e;
  

}



ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin: 8px;
  padding: 8px;
  border: whitesmoke 3px solid;
  border-radius: 8px;
}
